*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.container{
    background: #101820;
    max-width: 30rem;
    padding: 2rem;
    width: 90%;
}
h1{
    text-align: center;
    font-size: 2.5rem;
    letter-spacing: 2px;
    margin-bottom: 1.5rem;
}
.login_form div:first-child{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.label{
    font-size: 1.2rem;
}
.input::placeholder{
    font-size: 1.1rem;
    color: black;

}
.input{
    padding: 1rem 2rem;
    color: #102010;
    font-size: 1.2rem;
    width: 100%;
}
.icon_input_box{
    position: relative;
}
.icon{
    position: absolute;
    columns: black;
    top: 50%;
    transform: translateY(-50%);
    left: 0.5rem;
}
.error_msg{
    color: red;
    font-size: 0.5rem;
}
.login_btn{
    display: block;
    padding: 1rem 2rem;
    color: black;
    font-size: 1.1rem;
    margin-top: 1.5rem;
    outline: none;
    border: none;
    cursor: pointer;
    float: right;
}
